%button {
  border-radius: 2px;
  border-width: 0;
  cursor: pointer;
  display: block;
  margin: 1rem 0;
  min-width: 6.4rem;
  max-width: 100%;
  overflow: hidden;
  outline: none;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
  & .o-mdi {
    font-size: inherit;
    margin-left: 1rem;
  }
}
%button-theme {
  @include shadow-1();
  background-color: $primary-color;
  color: #fff;
  font-weight: 300;
  &:hover {
    @include focus-shadow();
    background-color: $primary-color-light;
  }
}
