.o-container {
  margin: 0 auto;
  max-width: 1600px;
  width: 90%;
  @media #{$medium-devices} {
    width: 85%;
  }
  @media #{$large-devices} {
    width: 70%;
  }
}

.o-grid {
  @extend %flexbox;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -0.5rem 1rem -0.5rem;
}

.o-grid__col {
  padding: 0 ($gutter-width / 2);

  &.s--fit {
    flex: 1;
  }

  &--first-s {
    order: -1;
  }

  &--last-s {
    order: 1;
  }

  $i: 1;
  @while $i <= $num-cols {
    $perc: 100% / ($num-cols / $i);
    &.s#{$i} {
      flex: 0 0 $perc;
      //max-width: $perc;
    }
    @if $i != $num-cols {
      &.offset-s#{$i} {
        flex: 0 0 auto;
        margin-left: $perc;
      }
    }
    $i: $i + 1;
  }
}

@media #{$medium-devices} {

  .o-grid__col {

    &.m--fit {
      flex: 1;
    }
    &--first-m {
      order: -1;
    }

    &--last-m {
      order: 1;
    }

    $i: 1;
    @while $i <= $num-cols {
      $perc: 100% / ($num-cols / $i);
      &.m#{$i} {
        flex: 0 0 $perc;
        //max-width: $perc;
      }
      @if $i != $num-cols {
        &.offset-m#{$i} {
          flex: 0 0 auto;
          margin-left: $perc;
        }
      }
      $i: $i + 1;
    }
  }
}
@media #{$large-devices} {

  .o-grid__col {
    &.l--fit {
      flex: 1;
    }

    &--first-l {
      order: -1;
    }

    &--last-l {
      order: 1;
    }

    $i: 1;
    @while $i <= $num-cols {
      $perc: 100% / ($num-cols / $i);
      &.l#{$i} {
        flex: 0 0 $perc;
        //max-width: $perc;
      }
      @if $i != $num-cols {
        &.offset-l#{$i} {
          flex: 0 0 auto;
          margin-left: $perc;
        }
      }
      $i: $i + 1;
    }
  }
}
