.c-btn
  border-radius 2px
  border-width 0
  cursor pointer
  display block
  min-width 6.4rem
  max-width 100%
  overflow hidden
  outline none
  position relative
  text-align center
  text-transform uppercase
  transition all .3s ease-in-out
