.disabled {
  pointer-events: none;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.clearfix {
  &:after, &:before {
    content: '';
    display: table;
    clear: both;
  }
}
.right-align {
  text-align: right;
}
.left-align {
  text-align: left;
}
.center-align {
  text-align: center;
}
.hide {
  display: none !important;
}
.hide-small {
  @media only screen and (max-width: 600px) {
    display: none !important;
  }
}
em {
  font-style: italic;
}
.underline {
  font-style: underline;
}
