.component-doc
  display flex
  flex-direction column
  align-items center
  padding 3rem 0
  border-top 1px solid $secondary-color

  // &:first-child

  // &:not(:last-child)
  //   border-bottom 1px solid $secondary-color


  &__title
    margin-bottom 1rem

  &__demo
    margin-bottom 1rem !important
