.form-group { 
  position:relative; 
  margin: 2rem 0;

  input[type=text],
  input[type=email],
  input[type=number],
  input[type=password],
  input[type=search],
  input[type=tel],
  input[type=url],
  textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    display: block;
    padding: .5rem;
    transition:0.3s ease-out all;
    width: 100%;
    &:focus ~ label, &.used ~ label {
      color: #3F51B5;
      //font-size:.8rem;
      top:-1rem;
    }
    &:focus, &.used:valid {
      outline:none;
      border-bottom: 1px solid $primary-color;
      box-shadow: 0 1px 0 0 $primary-color;
    }
    & ~ label {
      color: #9e9e9e;
      font-size: 1rem;
      //font-size: 1rem;
      left: .5rem;
      pointer-events: none;
      position: absolute;
      top: -1rem;
      //top: .5rem;
      transition: 0.3s ease-out all;
      font-weight: normal;
    }
  }
  textarea {
    resize: none;
  }
}
