.container {
  margin: 0 auto;
  max-width: 1600px;
  width: 90%;
  @media #{$medium-devices} {
    width: 85%;
  }
  @media #{$large-devices} {
    width: 70%;
  }
}

.row {
  @extend %flexbox;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -0.5rem 1rem -0.5rem;
}

.row.reverse {
  flex-direction: row-reverse;
}

.col.reverse {
  flex-direction: column-reverse;
}

.col {
  padding: 0 ($gutter-width / 2);

  &.s--fit {
    flex: 1;
  }

  $i: 1;
  @while $i <= $num-cols {
    $perc: 100% / ($num-cols / $i);
    &.s#{$i} {
      flex: 0 0 $perc;
      //max-width: $perc;
    }
    @if $i != $num-cols {
      &.offset-s#{$i} {
        flex: 0 0 auto;
        margin-left: $perc;
      }
    }
    $i: $i + 1;
  }
}

.start-s {
  justify-content: flex-start;
  text-align: start;
}

.center-s {
  justify-content: center;
  text-align: center;
}

.end-s {
  justify-content: flex-end;
  text-align: end;
}

.top-s {
  align-items: flex-start;
}

.middle-s {
  align-items: center;
}

.bottom-s {
  align-items: flex-end;
}

.around-s {
  justify-content: space-around;
}

.between-s {
  justify-content: space-between;
}

.first-s {
  order: -1;
}

.last-s {
  order: 1;
}

@media #{$medium-devices} {

  .col {

    &.m--fit {
      flex: 1;
    }

    $i: 1;
    @while $i <= $num-cols {
      $perc: 100% / ($num-cols / $i);
      &.m#{$i} {
        flex: 0 0 $perc;
        //max-width: $perc;
      }
      @if $i != $num-cols {
        &.offset-m#{$i} {
          flex: 0 0 auto;
          margin-left: $perc;
        }
      }
      $i: $i + 1;
    }
  }

  .start-m {
    justify-content: flex-start;
    text-align: start;
  }

  .center-m {
    justify-content: center;
    text-align: center;
  }

  .end-m {
    justify-content: flex-end;
    text-align: end;
  }

  .top-m {
    align-items: flex-start;
  }

  .middle-m {
    align-items: center;
  }

  .bottom-m {
    align-items: flex-end;
  }

  .around-m {
    justify-content: space-around;
  }

  .between-m {
    justify-content: space-between;
  }

  .first-m {
    order: -1;
  }

  .last-m {
    order: 1;
  }
}
@media #{$large-devices} {

  .col {
    &.l--fit {
      flex: 1;
    }

    $i: 1;
    @while $i <= $num-cols {
      $perc: 100% / ($num-cols / $i);
      &.l#{$i} {
        flex: 0 0 $perc;
        //max-width: $perc;
      }
      @if $i != $num-cols {
        &.offset-l#{$i} {
          flex: 0 0 auto;
          margin-left: $perc;
        }
      }
      $i: $i + 1;
    }
  }

  .start-l {
    justify-content: flex-start;
    text-align: start;
  }

  .center-l {
    justify-content: center;
    text-align: center;
  }

  .end-l {
    justify-content: flex-end;
    text-align: end;
  }

  .top-l {
    align-items: flex-start;
  }

  .middle-l {
    align-items: center;
  }

  .bottom-l {
    align-items: flex-end;
  }

  .around-l {
    justify-content: space-around;
  }

  .between-l {
    justify-content: space-between;
  }

  .first-l {
    order: -1;
  }

  .last-l {
    order: 1;
  }
}
