.o-container {
  margin: 0 auto;
  max-width: 1600px;
  width: 90%;
  @media #{$medium-devices} {
    width: 85%;
  }
  @media #{$large-devices} {
    width: 70%;
  }
}

.o-grid {
  @extend %flexbox;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -0.5rem 1rem -0.5rem;
}

.o-grid--row-reverse {
  flex-direction: row-reverse;
}

.o-grid--column {
  flex-direction: column;
}
.o-grid--column-reverse {
  flex-direction: column-reverse;
}

.o-grid--start-s {
  justify-content: flex-start;
  text-align: start;
}

.o-grid--center-s {
  justify-content: center;
  text-align: center;
}

.o-grid--end-s {
  justify-content: flex-end;
  text-align: end;
}

.o-grid--top-s {
  align-items: flex-start;
}

.o-grid--middle-s {
  align-items: center;
}

.o-grid--bottom-s {
  align-items: flex-end;
}

.o-grid--around-s {
  justify-content: space-around;
}

.o-grid--between-s {
  justify-content: space-between;
}

.o-grid__col {
  padding: 0 ($gutter-width / 2);

  &.s--fit {
    flex: 1;
  }

  $i: 1;
  @while $i <= $num-cols {
    $perc: 100% / ($num-cols / $i);
    &.s#{$i} {
      flex: 0 0 $perc;
      //max-width: $perc;
    }
    @if $i != $num-cols {
      &.offset-s#{$i} {
        flex: 0 0 auto;
        margin-left: $perc;
      }
    }
    $i: $i + 1;
  }
}
.o-grid__col--first-s {
  order: -1;
}

.o-grid__col--last-s {
  order: 1;
}

@media #{$medium-devices} {

  .o-grid--start-m {
    justify-content: flex-start;
    text-align: start;
  }

  .o-grid--center-m {
    justify-content: center;
    text-align: center;
  }

  .o-grid--end-m {
    justify-content: flex-end;
    text-align: end;
  }

  .o-grid--top-m {
    align-items: flex-start;
  }

  .o-grid--middle-m {
    align-items: center;
  }

  .o-grid--bottom-m {
    align-items: flex-end;
  }

  .o-grid--around-m {
    justify-content: space-around;
  }

  .o-grid--between-m {
    justify-content: space-between;
  }

  .o-grid__col {

    &.m--fit {
      flex: 1;
    }

    $i: 1;
    @while $i <= $num-cols {
      $perc: 100% / ($num-cols / $i);
      &.m#{$i} {
        flex: 0 0 $perc;
        //max-width: $perc;
      }
      @if $i != $num-cols {
        &.offset-m#{$i} {
          flex: 0 0 auto;
          margin-left: $perc;
        }
      }
      $i: $i + 1;
    }
  }

  .o-grid__col--first-m {
    order: -1;
  }

  .o-grid__col--last-m {
    order: 1;
  }
}
@media #{$large-devices} {

  .o-grid__col {
    &.l--fit {
      flex: 1;
    }

    $i: 1;
    @while $i <= $num-cols {
      $perc: 100% / ($num-cols / $i);
      &.l#{$i} {
        flex: 0 0 $perc;
        //max-width: $perc;
      }
      @if $i != $num-cols {
        &.offset-l#{$i} {
          flex: 0 0 auto;
          margin-left: $perc;
        }
      }
      $i: $i + 1;
    }
  }

  .o-grid--start-l {
    justify-content: flex-start;
    text-align: start;
  }

  .o-grid--center-l {
    justify-content: center;
    text-align: center;
  }

  .o-grid--end-l {
    justify-content: flex-end;
    text-align: end;
  }

  .o-grid--top-l {
    align-items: flex-start;
  }

  .o-grid--middle-l {
    align-items: center;
  }

  .o-grid--bottom-l {
    align-items: flex-end;
  }

  .o-grid--around-l {
    justify-content: space-around;
  }

  .o-grid--between-l {
    justify-content: space-between;
  }

  .o-grid__col--first-l {
    order: -1;
  }

  .o-grid__col--last-l {
    order: 1;
  }
}
