.text-field
  text-field({
    active-color: $accent-color,
    default-color: $primary-color,
    input-name: __input,
    js: true,
    label-name: __label,
    primary-text-color: $text-primary-color,
    secondary-text-color: $text-secondary-color,
    valid-color: $valid-color
  })
  width 300px
