html {
  color: rgba(0,0,0,0.87);
  font-size: 10px;
}
@media screen and (min-width: 600px) {
  html {
    font-size: 10.5px;
  }
}
@media screen and (min-width: 900px) {
  html {
    font-size: 11px;
  }
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
}
* {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: inherit;
  font-size: inherit;
}
