.c-modal {
  @include shadow-2();
  background-color: #fff;
  border-radius: 2px;
  left: 50%;
  height: 85%;
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;;
  width: 90%;
  z-index: 12;
  overflow-y: auto;

  @media #{$medium-devices} {
    width: 70%;
  }

  @media #{$large-devices} {
    width: 55%;
  }

  &__title {
    color: rgba(0,0,0,.87);
  }

  &__content {
    color: rgba(0,0,0,.54);
    padding: 2rem;
    height: calc(100% - 5rem);
    max-height: 100%;
    overflow-y: auto;
    position: absolute;
    top: 0;
  }

  &__footer {
    @extend %flexbox;
    align-items: center;
    background-color: color("grey", 50);
    border-top: 1px solid rgba(0,0,0,.1);
    bottom: 0;
    flex-direction: row;
    justify-content: flex-end;
    height: 5rem;
    padding: 0 5%;
    position: absolute;
    width: 100%;
  }

  &__action {
    margin-left: 1rem;
  }
}
