html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  vertical-align:baseline;
  margin:0;
  padding:0;
  font-size: inherit;
}
a {
  text-decoration: none;
}
.container {
  width: 80%;
  margin: 0 auto;
}
