.c-btn--flat {
  @extend %button;
  color: #3F51B5;
  background-color: transparent;
  font-weight: 500;
  line-height: 3.6rem;
  padding: 0 1.6rem;
}
.c-btn--small {
  @extend %button;
  @extend %button-theme;
  font-size: .8rem;
  padding: 0 .8rem;
  line-height: 2rem;
  min-width: 100px;
  max-width: 300px;
}
.c-btn {
  @extend %button;
  @extend %button-theme;
  line-height: 3.6rem;
  min-width: 100px;
  max-width: 300px;
  padding: 0 1.6rem;
}
.c-btn--large {
  @extend %button;
  @extend %button-theme;
  padding: 15px;
  width: 300px;
  font-size: 2rem;
}
.c-btn--block {
  @extend %button;
  @extend %button-theme;
  padding: 15px;
  width: 100%;
  font-size: 2rem;
}

// Ripple effect for button
.ripple {
  position: absolute;
  background: rgba(0,0,0,.25);
  border-radius: 100%;
  pointer-events: none;
  transform: scale(0);
  z-index: 2;
 }

.ripple.show {
  animation: ripple .45s ease-out;
}

@keyframes ripple {
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
