%button {
  background-color: #3F51B5;
  border-radius: 2px;
  border-width: 0;
  @include shadow-1();
  color: #fff;
  cursor: pointer;
  display: block;
  font-weight: 300;
  margin: 1rem 0;
  min-width: 6.4rem;
  max-width: 100%;
  overflow: hidden;
  outline: none;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  &:hover, &:active {
    background-color: #5C6BC0;
    @include focus-shadow();
  }
}
.btn-small {
  @extend %button;
  padding: 0 .8rem;
  line-height: 2rem;
  width: 120px;
  font-size: .8rem;
}
.btn {
  @extend %button;
  line-height: 3.6rem;
  padding: 0 1.6rem;
  width: 150px;
}
.btn-large {
  @extend %button;
  padding: 15px;
  width: 300px;
  font-size: 1.5rem;
}
.btn-block {
  @extend %button;
  padding: 15px;
  width: 100%;
  font-size: 1.5rem;
}
.ripple {
  position: absolute;
  background: rgba(0,0,0,.25);
  border-radius: 100%;
  pointer-events: none;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  z-index: 2;
 }

 .ripple.show {
  -webkit-animation: ripple .45s ease-out;
  animation: ripple .45s ease-out;
 }

 @-webkit-keyframes ripple {
  to {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
 }

 @keyframes ripple {
  to {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
 }
