.page-footer {
  background-color: $primary-color;
  color: #fff;
  margin-top: 0;
  padding-top: 2rem;
  .copy {
    background-color: rgba(0,0,0,.15);
    color: $footer-text-color;
    font-size: inherit;
    line-height: 4rem;
    margin-bottom: 0;
    overflow: hidden;
    padding-left: 1rem;
  }
}
