.c-hero {
  @extend %flexbox;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $hero-color;
  height: 100vh;
  margin-bottom: 3rem;
  position: relative;
  text-align: center;
}
.c-navbar ~ .c-hero {
  margin-top: -$navbar-height;
}
