.hero {
  align-items: center;
  background-color: $hero-color;
  @extend %flexbox;
  @include flex-direction(column);
  @include justify-content(center);
  margin-bottom: 3rem;
  min-height: 100vh;
  position: relative;
  text-align: center;
}
.navbar ~ .hero {
    margin-top: -$navbar-height;
  }
