dl {
  list-style: none;
  margin-bottom: 1rem;

  dt {
    border-bottom: 2px solid #f5f5f5;
    padding: 1rem;
  }
  dd {    
    padding: 0.5rem 3rem;
    font-size: 1.2rem;
  }
}
.list {
  padding: 1rem;
}
ul.list {
  list-style: circle inside;
}
ol.list {
  list-style: decimal inside;
}
