%navbar {
  @include shadow-1();
  background-color: $primary-color;
  height: $navbar-height;
  z-index: 1000;

  ul, ol {
    @extend %flexbox;
    @include align-items(center);
    @include justify-content(space-around);
    @include flex-flow(row wrap);
    line-height: $navbar-height;
  }
  a {
    color: #fff;
  }
}
.navbar {
  @extend %navbar;
  position: relative;
}
.navbar-fixed {
  @extend %navbar;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
