%navbar {
  @extend %flexbox;
  @include shadow-1();
  align-items: center;
  background-color: $primary-color;
  flex-flow: row wrap;
  height: $navbar-height;
  justify-content: space-around;
  z-index: 8;
}
.c-navbar {
  @extend %navbar;
  position: relative;
}
.c-navbar--fixed {
  @extend %navbar;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.c-navbar__link {
  color: #fff;
}
.c-navbar__brand {
  height: $navbar-height;
  padding: 1%;
}
