table {
  @include shadow-1();
  margin: 1rem 0;
  text-align: left;
  width: 100%;
  overflow-x: auto;
  thead {
    color: rgba(0,0,0,.54);
  }
  thead tr,
    tbody tr:not(:last-child) {
      border-bottom: 1.5px solid #E0E0E0;
    }
  &:not(.striped) {
    tbody tr:hover {
      background-color: #EEEEEE;
    }
  }
  th, td {
    padding: 1rem 1.5rem;
  }
  &.striped {
    tbody tr:nth-child(odd) {
      background-color: #EEEEEE;
    }
  }
  @media only screen and (max-width: 600px) {
    @include flexbox();
    @include flex-direction(row);
    width: 100%;
    tr {
      border-bottom: none !important;
    }
    thead {
      float: left;
      tr {
        border-right: 1.5px solid #E0E0E0;
      }
    }
    tbody {
      width: auto;
      overflow-x: auto;
      white-space: nowrap;
      tr {
        display: inline-block;
        background-color: transparent !important;
      }
    }
    th, td {
      display: block;
    }
    th {
      text-align: right;
    }
  }
}
