@font-face {
  font-family: "Roboto";
  src: local(Roboto Thin),
    url("##{$roboto-font-path}Roboto-Thin.woff2") format("woff2"),
    url("#{$roboto-font-path}Roboto-Thin.woff") format("woff"),
    url("{$roboto-font-path}Roboto-Thin.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Roboto";
  src: local(Roboto Light),
      url("#{$roboto-font-path}Roboto-Light.woff2") format("woff2"),
      url("#{$roboto-font-path}Roboto-Light.woff") format("woff"),
      url("#{$roboto-font-path}Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: local(Roboto Regular),
    url("#{$roboto-font-path}Roboto-Regular.woff2") format("woff2"),
    url("#{$roboto-font-path}Roboto-Regular.woff") format("woff"),
    url("#{$roboto-font-path}Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: local(Roboto Medium),
    url("#{$roboto-font-path}Roboto-Medium.woff2") format("woff2"),
    url("#{$roboto-font-path}Roboto-Medium.woff") format("woff"),
    url("#{$roboto-font-path}Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: local(Roboto Bold),
    url("#{$roboto-font-path}Roboto-Bold.woff2") format("woff2"),
    url("#{$roboto-font-path}Roboto-Bold.woff") format("woff"),
    url("#{$roboto-font-path}Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
html {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: rgba(0,0,0,.87);
  line-height: 1.5;
  font-size: 10px;
  @media only screen and (min-width: 600px) {
    font-size: 11px;
  }
  @media only screen and (min-width: 960px) {
    font-size: 12px;
  }
}
body {
  font-size: 1.5rem;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin: 0 0 1rem 0;
  line-height: 1.1;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4.2rem;
}
h3 {
  font-size: 3.6rem;
}
h4 {
  font-size: 3rem;
}
h5 {
  font-size: 2.4rem;
}
h6 {
  font-size: 1.8rem;
}
p {
  font-size: 1.8rem;
  margin: 0 0 1rem 0;
}
a {
  color: #3F51B5;
  &:hover, &:active {
    color: inherit;
  }
  &:focus {
    outline: none;
  }
}
em {
  font-style: italic;
}
b, strong {
  font-weight: bold;
}
u {
  font-style: underline;
}
