// Roboto
$roboto-font-path: "../font/roboto/";

// Shadow
$shadow-key-umbra-opacity: 0.2 !default;
$shadow-key-penumbra-opacity: 0.14 !default;
$shadow-ambient-shadow-opacity: 0.12 !default;

// Navbar
$navbar-height: 5rem;

// Color
$primary-color: #3F51B5;
$primary-color-light: #5C6BC0;

//Footer
$footer-text-color: rgba(255,255,255,.8);

// Hero
$hero-color: #9FA8DA;

// Icons
$mdi-color-inactive:   rgba(0,0,0,.54);
$mdi-filename:         "materialdesignicons";
$mdi-font-name:        "Material Design Icons";
$mdi-font-family:      "materialdesignicons";
$mdi-font-weight:      "regular";
$mdi-font-path:        "../font/icons" !default;
$mdi-font-size-base:   3rem !default;
$mdi-css-prefix:       mdi !default;
$mdi-version:          "1.4.57" !default;

// Media Queries
$medium-devices: "only screen and (min-width: 600px)";
$large-devices: "only screen and (min-width: 960px)";
