.u-disabled {
  pointer-events: none;
}
.u-pull-right {
  float: right !important;
}
.u-pull-left {
  float: left !important;
}
.u-clearfix {
  &:after, &:before {
    content: '';
    display: table;
    clear: both;
  }
}
.u-right-align {
  text-align: right;
}
.u-left-align {
  text-align: left;
}
.u-center-align {
  text-align: center;
}
.u-hide {
  display: none !important;
}
.u-hide-small {
  @media only screen and (max-width: 600px) {
    display: none !important;
  }
}
em {
  font-style: italic;
}
.u-underline {
  font-style: underline;
}
